{% extends 'base.html' %}


{% block 'body' %}
<div class="row" style="margin: 10px;">
    <div class="mx-auto col-md-7" style="font-family: 'Lucida Console';">
        <h1 style="font-size: 35px;">Welcome to the Library Management</h1>
        <hr>
        <p>This is web page of The School's Library . It is used to manage the
            books available in the book. <br>
            In this website , You will be able to see the Following Functions:-
        <ul>
            <li>Issue of Book</li>
            <li>Approval of Users</li>
            <li>Manage Books</li>
            <li>Edit or Delete the User</li>
            <li>Feedback</li>
            <li>Complaints</li>
            <li>See the Transacttion</li>
        </ul>
        </p>
    </div>
</div>
{% endblock 'body' %}