{% extends 'base.html' %}


{% block 'body' %}
    <h1>List of UnReturned Books</h1><hr>
    <table class="table table-center text-center">
        <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Book Name</th>
                <th>Issue Date and Time</th>
                <th>Return</th>
            </tr>
        </thead>
        <tbody>

            
            {% for dt in mydata %}
            
                <tr>
                    <td>{{dt.trans_id.trans_id}}</td>
                    <td>{{dt.trans_id.book_id.bName}}</td>
                    <td>{{dt.trans_id.issueDtTm}}</td>

                    <td><a href="{% url 'returnbook' id=dt.trans_id.trans_id %}" class="accept"><i class="fa-solid fa-user-check"></i></a></td>
                        
                </tr>
            {% endfor %}
                
        </tbody>
    </table>

    <style>
        a{
            color: black;
        }

        .accept:hover{
            color: darkgreen;
        }

        .reject:hover{
            color: red;
        }
    </style>
{% endblock 'body' %}
    